@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.5;
  font-family: "JetBrains Mono", monospace;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #18171f;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

/* Style the custom checkbox */
input[type="checkbox"]:checked {
  background-color: #a4ffaf;
}

/* Style the label */
label {
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
}

input[type="checkbox"] + label:checked {
  content: "✓";
  position: absolute;
  left: 4px;
  top: 1px;
  font-size: 12px;
  color: #fff;
}
